<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
  </head>

  <body>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
      @import url(css/e-box.css);
      @import url(css/credit.css);
      @import url(css/style.css);
    </style>

    <h1>DX3rd オリジナルエフェクト生成ツール v0.131(cβ)</h1>
    <div class="field">
      <div class="form">
        <form>
          <table class="form-table">
            <tr>
              <th>エフェクト名称</th>
              <td>
                <div id="name-box">
                  <label for="e-name"></label>
                  <input
                    type="text"
                    id="e-name"
                    name="e-name"
                    placeholder="|漢字《ルビ》"
                  />
                </div>
              </td>
            </tr>
            <tr>
              <th>最大レベル</th>
              <td>
                <div id="maxlv-box">
                  <label for="maxlv"></label>
                  <input
                    type="number"
                    id="maxlv"
                    name="maxlv"
                    min="0"
                    max="20"
                  />
                </div>
              </td>
            </tr>
            <tr>
              <th>タイミング</th>
              <td>
                <div id="timing-box">
                  <div>
                    <label for="timing"></label>
                    <select name="timing" id="timing" v-on:change="valSelect">
                      <option value="ー">-</option>
                      <option value="セットアップ">セットアップ</option>
                      <option value="イニシアチブ">イニシアチブ</option>
                      <option value="マイナー">マイナー</option>
                      <option value="メジャー">メジャー</option>
                      <option value="クリーンナップ">クリーンナップ</option>
                      <option value="オート">オート</option>
                      <option value="常時">常時</option>
                      <option value="効果参照">効果参照</option>
                      <option value="free">（自由入力）</option>
                    </select>
                    <input
                      v-if="isFree"
                      type="text"
                      name="timing-free"
                      id="timing-free"
                    />
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th>技能</th>
              <td>
                <div id="skill-box">
                  <label for="skill"></label>
                  <input type="text" id="skill" name="skill" value="ー" />
                </div>
              </td>
            </tr>
            <tr>
              <th>難易度</th>
              <td>
                <div id="difficulty-box">
                  <div>
                    <label for="difficulty"></label>
                    <select
                      v-on:change="valSelect"
                      name="difficulty"
                      id="difficulty"
                    >
                      <option value="ー">-</option>
                      <option value="自動成功">自動成功</option>
                      <option value="対決">対決</option>
                      <option value="効果参照">効果参照</option>
                      <option value="free">（自由入力）</option>
                    </select>
                    <input
                      v-if="isFree"
                      type="text"
                      name="difficulty-free"
                      id="difficulty-free"
                    />
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th>対象</th>
              <td>
                <div id="target-box">
                  <div>
                    <label for="target"></label>
                    <select v-on:change="valSelect" name="target" id="target">
                      <option value="ー">-</option>
                      <option value="自身">自身</option>
                      <option value="単体">単体</option>
                      <option value="範囲">範囲</option>
                      <option value="範囲（選択）">範囲（選択）</option>
                      <option value="シーン">シーン</option>
                      <option value="シーン（選択）">シーン（選択）</option>
                      <option value="効果参照">効果参照</option>
                      <option value="free">（自由入力）</option>
                    </select>
                    <input
                      v-if="isFree"
                      type="text"
                      name="target-free"
                      id="target-free"
                    />
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th>射程</th>
              <td>
                <div id="range-box">
                  <div>
                    <label for="range"></label>
                    <select v-on:change="valSelect" name="range" id="range">
                      <option value="ー">-</option>
                      <option value="至近">至近</option>
                      <option value="視界">視界</option>
                      <option value="効果参照">効果参照</option>
                      <option value="free">（自由入力）</option>
                    </select>
                    <input
                      v-if="isFree"
                      type="text"
                      name="range-free"
                      id="limit-free"
                    />
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th>侵蝕値</th>
              <td>
                <div id="cost-box">
                  <label for="cost"></label>
                  <input type="text" id="cost" name="cost" />
                </div>
              </td>
            </tr>
            <tr>
              <th>制限</th>
              <td>
                <div id="limit-box">
                  <div>
                    <label for="limit"></label>
                    <select v-on:change="valSelect" name="limit" id="limit">
                      <option value="ー">-</option>
                      <option value="80％">80%</option>
                      <option value="100％">100%</option>
                      <option value="120％-two">120%</option>
                      <option value="ピュアブリード">ピュアブリード</option>
                      <option value="リミット">リミット</option>
                      <option value="ＲＢ">RB</option>
                      <option value="Ｄロイス">Dロイス</option>
                      <option value="効果参照">効果参照</option>
                      <option value="free">（自由入力）</option>
                    </select>
                    <input
                      v-if="isFree"
                      type="text"
                      name="limit-free"
                      id="limit-free"
                    />
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th>効果</th>
              <td>
                <div>
                  <label for="effect"></label>
                  <textarea
                    name="effect"
                    id="effect"
                    cols="30"
                    rows="10"
                    placeholder="英語は全角に，数字は半角に自動変換します"
                  ></textarea>
                </div>
              </td>
            </tr>
            <tr>
              <th>透かし有り</th>
              <td>
                <div class="toggle_button">
                  <input
                    id="toggle"
                    class="toggle_input"
                    type="checkbox"
                    checked="checked"
                    onchange="changeWatermark()"
                  />
                  <label for="toggle" class="toggle_label"></label>
                </div>
              </td>
            </tr>
          </table>
          <p>
            <button class="ok-button" type="button" onclick="textcopy()">
              反映する
            </button>
          </p>
        </form>
      </div>
      <div class="effect-table">
        <!-- ここに表を作る -->
        <div class="e-box">
          <!-- lines -->
          <div class="vertical-1"></div>
          <div class="vertical-2"></div>
          <div class="vertical-3"></div>
          <div class="vertical-4"></div>
          <div class="horizontal-1"></div>
          <div class="horizontal-2"></div>
          <div class="horizontal-3"></div>
          <div class="horizontal-4"></div>
          <!-- watermark -->
          <div class="watermark">自作<br />　エフェクト</div>
          <!-- effect name -->
          <div class="e-name">
            <div class="e-name-value">
              <!-- ヴィークルモーフィング -->
              <ruby data-ruby="">
                <rb> 自作 </rb>
                <rp>（</rp>
                <rt>じさく</rt>
                <rp>）</rp>
              </ruby>
              エフェクトの
              <ruby data-ruby="">
                <rb> 作 </rb>
                <rp>（</rp>
                <rt>つく</rt>
                <rp>）</rp>
              </ruby>
              り
              <ruby data-ruby="">
                <rb> 方 </rb>
                <rp>（</rp>
                <rt>かた</rt>
                <rp>）</rp>
              </ruby>
            </div>
          </div>
          <div class="e-others">
            <div class="e-others-bound">
              <p class="eo e-maxlv">最大レベル：</p>
              <p class="eo ev e-maxlv-value">99</p>
              <br />
              <div class="eb">
                <p class="eo e-timing">タイミング：</p>
                <p class="eo ev e-timing-value">オート</p>
                <br />
              </div>
              <div class="e-left-column">
                <div class="eb">
                  <p class="eo e-skill">技能：</p>
                  <p class="eo ev e-skill-value">シンドローム</p>
                  <br />
                </div>
                <div class="eb">
                  <p class="eo e-target">対象：</p>
                  <p class="eo ev e-target-value">シーン（選択）</p>
                  <br />
                </div>
                <div class="eb">
                  <p class="eo e-cost">侵蝕値：</p>
                  <p class="eo ev e-cost-value">10D10</p>
                </div>
              </div>
              <div class="eb e-right-column">
                <div class="eb">
                  <div class="eo e-difficulty">難易度：</div>
                  <div class="eo ev e-difficulty-value">自動成功</div>
                  <br />
                </div>
                <div class="eb">
                  <p class="eo e-range">射程：</p>
                  <p class="eo ev e-range-value">視界</p>
                  <br />
                </div>
                <div class="eb">
                  <p class="eo e-limit">制限：</p>
                  <p class="eo ev e-limit-value">-</p>
                </div>
              </div>
              <div class="e-effect-box">
                <p class="eo e-effect">効果：</p>
                <p class="eo ev e-effect-value">
                  任意のエフェクトを作れるようになるエフェクト。<br />
                  使い方：上のフォームを埋めて[反映する]をクリックしてください。<br />
                  「名前」欄はハーメルン式のルビが振れます。例：|自作《じさく》の|力《ちから》<br />
                  注意：長すぎるエフェクト名を入力すると壊れます。《ヴィークルモーフィング》くらいが限界の長さです。
                </p>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="src/index.js"></script>
    <script src="src/form.js"></script>
  </body>
  <footer class="credit">
    指摘、報告、要望、感謝 → <a href="https://trpger.us/@_">開発者SNS</a><br />
    開発リポジトリ →
    <a href="https://github.com/iorar/dx3rd_effect_creator_v1">github</a>
    <p>
      『ダブルクロス The 3rd Edition』は矢野俊策
      氏,および有限会社ファーイースト・アミューズメント・リサーチの著作物です。
    </p>
    <h2>更新履歴</h2>
    <div class="diary">
      <p>2022/11/15 v0.10 : β版作成</p>
      <p>2022/11/15 v0.11 : 透かしの有無を操作できるように</p>
      <p>
        2022/11/15 v0.12 : htmlを弄って見た目を改善,
        改行をそのまま反映するように変更
      </p>
      <p>
        2022/11/15 v0.13 : 半角・全角の変換機能を実装。公式は全て半角にしてｸﾚﾒﾝｽ
      </p>
      <p>2023/06/10 v0.131 : 例文の修正</p>
    </div>
  </footer>
</html>
